body {
  padding-top: 56px;
}
.head h1 {
  font-size: 80px;
}
.head p {
  font-size: 30px;
}
.aboutp {
  font-size: 20px;
}
.head{
  margin-bottom:0;
  background:orangered;
}
.jumbotron {
  background-color: #f4511e; /* Orange */
  color: #ffffff;
}
.pointer {cursor: pointer;}

.abb {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo {
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }

  .fa-facebook{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;

  }
.cimg{width:900px;height:300px;object-fit: contain;}

.ccimg{width:100%;height:150px;object-fit: contain;}

.caru{width:900px;height:300px;background-color: gray;}

.tc{text-align:center;}

.ih{height:400px;overflow:scroll;}

.icimg2{width:100%;height:350px;object-fit:fill;}
.cimg2{width:100%;height:350px;object-fit:contain;}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators li {
    background-color: black;
}
.carousel-indicators .active {

    background-color: white;
}


.ab{ margin: 10px;}


.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
  transform: translate(0,-100%);
}

.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translate(0,0);
}
.ng-leave {
  transition: 0.5s linear all;
  opacity: 1;

}

.ng-leave.ng-leave-active {
  opacity: 0;
  transform: rotateX(150deg);
}
.ng-hide-remove {
    transition: 0.5s linear all;
    opacity: 0;
    transform: scale(0.1,0.1);
}


.ng-hide-remove-active {
    opacity: 1;
transform: scale(1,1);
}
.ng-hide-add {
    transition: 0.5s linear all;
    opacity: 1;
transform: scale(1,1);
}


.ng-hide-add-active {
    opacity: 0;
transform: scale(0.1,0.1);
}
